<% type = 'info' if local_assigns[:type].nil?  %>
<% title = '' if local_assigns[:title].nil?  %>
<% content = '' if local_assigns[:content].nil?  %>
<% dismissable = '' if local_assigns[:dismissable].nil?  %>

<% flash.each do |type, content| %>
  <div class = 'alert <% alert_class_by_type(type) %> 
        <% if dismissable == true %>
          alert-dismissable
        <% end %>' role='alert' >
    <% if dismissable == true %>  
      <button type='button' class='close' data-dismiss='alert'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
    <% end %>
    <strong><%= title %></strong>
    <%= content %>
  </div>
<% end %>
